<%= form_for(@album) do |f| %>
  <% if @album.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@album.errors.count, "error") %> prohibited
        this album from being saved:</h2>
    <ul>
    <% @album.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
 
<%= simple_form_for @album do |f| %>
  <%= f.input :artist, label: 'Artist' %>
  <%= f.input :title, label: 'Title' %>
  <%= f.input :year, label: 'Year' %>
  <%= f.input :label, label: 'Label' %>
  <%= f.input :country, label: 'Country', as: :select, collection: 
       ["U.S.", "U.K.", "Japan", "Canada", "Germany"] %>
  <%= f.input :condition, label: 'Condition', as: :select, collection: ["G","VG", "VG+", "NM", "M", "Sealed"] %>
  <%= f.input :other, label: 'Other notes' %>
  <%= f.button :submit, 'Save Changes' %>
<% end %>
<% end %>