<%= form_for(@album) do |f| %>
  <% if @album.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@album.errors.count, "error") %> prohibited
        this album from being saved:</h2>
    <ul>
    <% @album.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
 
  <div class="field">
    <%= f.label :artist %><br />
    <%= f.text_field :artist %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :year %><br />
    <%= f.text_field :year %>
  </div>
  <div class="actions">
    <%= f.submit "Save Changes" %>
  </div>
<% end %>