<h4> <%= link_to "Add Album   ", new_album_path %><%= link_to "Add Album From Discogs", "#" %></h4>

<%= form_tag albums_path, :method => 'get', :user_id => current_user.id do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag 'Search', :name => nil %>
  </p>
<% end %>



<h3>Your Collection:</h3>

<table class="table table-striped">

    <% @albums.each do |album| %>
    <tr>
        <td><%= link_to album.title, "#" %></td>
        <td><%= album.artist %></td>
        <td><%= album.year %></td>
        <td><%= album.condition %></td>
        <td><%= album.country %></td>
        <td><%= album.other %></td>
        <td><%= link_to "Edit", edit_album_path(album) %></td>
        <td><%= link_to "Delete", album, :method=>:delete, :class=>:destroy %></td>
    </tr>
    <% end %>

</table>