<h3> <%= link_to "Add Album", new_album_path %></h3>

<h3>Your Collection:</h3>

<table class="table table-striped">

    <% @current_user.albums.each do |album| %>
    <tr>
        <td><%= album.artist %></td>
        <td><%= link_to album.title, "#" %></td>
        <td><%= album.year %><td>
        <td><%= album.condition %><td>
        <td><%= album.other %><td>
        <td><%= button_to "exterminate", album, :method=>:delete, :class=>:destroy %>
    </tr>
    <% end %>

</table>