<!DOCTYPE html>
<html>
  <head>
    <title><%= VinylTracker %></title>
    <link href='http://fonts.googleapis.com/css?family=Alef:400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
            <%= link_to "VinylTracker", "#", id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "Help", '#' %></li>
              <li><% if current_user %>
                    <%= link_to "Signed in as #{current_user.email}", destroy_user_session_path, :method => :delete %>
                        <% else %>
                        <%= link_to "Log In", new_user_session_path %>
                    <% end %></li>
              </ul>
          </nav>
        </div>
      </div>
    </header>
    <%= bootstrap_flash %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>